1. Write a code to reverse a string

In [ ]:
def reverse_string(input_string):
  return input_string[::-1]

string_to_reverse = "Tatamotors"
reversed_string = reverse_string(string_to_reverse)
print(reversed_string)

srotomataT

2. Write a code to count the number of vowels in a string

In [ ]:
def count_vowels(input_string):
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in input_string:
    if char in vowels:
      vowel_count += 1
  return vowel_count

string_to_check = "Aeroplane"
vowel_count = count_vowels(string_to_check)
vowel_count

5

 3. Write a code to check if a given string is a palindrome or not

In [ ]:
def is_palindrome(input_string):
  processed_string = ''.join(filter(str.isalnum, input_string)).lower()
  return processed_string == processed_string[::-1]

string_to_check = "Ambulance"
is_palindrome(string_to_check)

False

4. Write a code to check if two given strings are anagrams of each other

In [ ]:
def are_anagrams(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
print(are_anagrams(string1,string2))

True

5. Write a code to find all occurrences of a given substring within another string

In [ ]:
def find_all_occurrences(main_string, substring):
    occurrences = []
    index = 0
    while True:
        index = main_string.find(substring, index)
        if index == -1:
            break
        occurrences.append(index)
        index += 1
    return occurrences

main_string = "This is a test string. This is another test."
substring = "is"
occurrences = find_all_occurrences(main_string, substring)
print(occurrences)

[2, 5, 25, 28]

6. Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(input_string):
    if not input_string:
        return ""

    compressed_string = ""
    count = 1
    for i in range(len(input_string) - 1):
        if input_string[i] == input_string[i + 1]:
            count += 1
        else:
            compressed_string += input_string[i] + (str(count) if count > 1 else "")
            count = 1

    compressed_string += input_string[-1] + (str(count) if count > 1 else "")
    return compressed_string
input_string = "gggghhhhkkkdfggk"
compressed_string = compress_string(input_string)
print(f"Compressed string: {compressed_string}")

Compressed string: g4h4k3dfg2k

7. Write a code to determine if a string has all unique characters

In [ ]:
def has_unique_chars(input_string):
    return len(set(input_string)) == len(input_string)

# Example usage
string1 = "ambulance"
string2 = "hospital"

print(f"'{string1}' has all unique characters: {has_unique_chars(string1)}")
print(f"'{string2}' has all unique characters: {has_unique_chars(string2)}")

'ambulance' has all unique characters: False
'hospital' has all unique characters: True

8. Write a code to convert a given string to uppercase or lowercase

In [ ]:
def convert_case(input_string, case_type):
    if case_type == "upper":
        return input_string.upper()
    elif case_type == "lower":
        return input_string.lower()
    else:
        return "Invalid case type. Please specify 'upper' or 'lower'."


string_to_convert = "Dataanalyst"

uppercase_string = convert_case(string_to_convert, "upper")
print(f"Uppercase: {uppercase_string}")

lowercase_string = convert_case(string_to_convert, "lower")
print(f"Lowercase: {lowercase_string}")

Uppercase: DATAANALYST
Lowercase: dataanalyst

9. Write a code to count the number of words in a string

In [ ]:
def count_words(input_string):
    words = input_string.split()
    return len(words)

string_to_check = "weather is too cold"
word_count = count_words(string_to_check)
print(f"Number of words: {word_count}")

Number of words: 4

10. Write a code to concatenate two strings without using the + operator

In [ ]:
def concatenate_strings(str1, str2):

    return "".join([str1,str2])
string1 = "Data"
string2 = "science"
result = concatenate_strings(string1, string2)
print(result)

Datascience

11. Write a code to remove all occurrences of a specific element from a list

In [ ]:
def remove_element_from_list(input_list, element_to_remove):
    """Removes all occurrences of a specific element from a list."""
    return [item for item in input_list if item != element_to_remove]


my_list = [7, 9, 3, 7, 8, 9, 7,3]
element_to_remove = 7
new_list = remove_element_from_list(my_list, element_to_remove)
print(new_list)

[9, 3, 8, 9, 3]

12. Implement a code to find the second largest number in a given list of integers

In [ ]:
def find_second_largest(numbers):
    """Finds the second largest number in a list of integers."""
    unique_numbers = sorted(list(set(numbers)), reverse=True)
    if len(unique_numbers) < 2:
        return "List does not contain at least two unique numbers."
    else:
        return unique_numbers[1]
numbers = [1, 5, 2, 8, 3, 8, 9, 4]
second_largest = find_second_largest(numbers)
print(f"The second largest number is: {second_largest}")

The second largest number is: 8

13.  Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
def count_element_occurrences(input_list):
    """Counts the occurrences of each element in a list and returns a dictionary."""
    element_counts = {}
    for element in input_list:
        if element in element_counts:
            element_counts[element] += 1
        else:
            element_counts[element] = 1
    return element_counts


my_list = [1, 7, 8, 7, 2, 3, 2, 4, 2]
occurrences = count_element_occurrences(my_list)
print(occurrences)

{1: 1, 7: 2, 8: 1, 2: 3, 3: 1, 4: 1}

14. Write a code to reverse a list in-place without using any built-in reverse function

In [ ]:
def reverse_list_in_place(data):
    """Reverses a list in-place without using built-in reverse functions."""
    start = 0
    end = len(data) - 1
    while start < end:
        data[start], data[end] = data[end], data[start]
        start += 1
        end -= 1
    return data

my_list = ["Apple", "Banana", "Cherry", "Date", 5, 10, 4]
reversed_list = reverse_list_in_place(my_list)
reversed_list

[4, 10, 5, 'Date', 'Cherry', 'Banana', 'Apple']

15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements.

In [ ]:
def remove_duplicates_preserve_order(input_list):
    seen = set()
    result = []
    for item in input_list:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

my_list = [1, 2, 7, 8, 7, 2, 3, 5, 3, 7]
unique_list = remove_duplicates_preserve_order(my_list)
unique_list

[1, 2, 7, 8, 3, 5]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def is_sorted(input_list):
    """Checks if a list is sorted (ascending or descending)."""
    n = len(input_list)
    if n <= 1:
        return True  # A list with 0 or 1 elements is considered sorted

    ascending = all(input_list[i] <= input_list[i + 1] for i in range(n - 1))
    descending = all(input_list[i] >= input_list[i + 1] for i in range(n - 1))

    return ascending or descending

my_list1 = [1, 2, 3, 4, 5]
my_list2 = [5, 4, 3, 2, 1]
my_list3 = [1, 3, 2, 4, 5]

print(f"{my_list1} is sorted: {is_sorted(my_list1)}")  # Output: True
print(f"{my_list2} is sorted: {is_sorted(my_list2)}")  # Output: True
print(f"{my_list3} is sorted: {is_sorted(my_list3)}")  # Output: False

[1, 2, 3, 4, 5] is sorted: True
[5, 4, 3, 2, 1] is sorted: True
[1, 3, 2, 4, 5] is sorted: False

17. Write a code to merge two sorted lists into a single sorted list

In [ ]:
def merge_sorted_lists(list1, list2):

    merged_list = []
    i = j = 0
    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1
    merged_list.extend(list1[i:])
    merged_list.extend(list2[j:])
    return merged_list

list1 = [2, 5, 8, 12]
list2 = [1, 3, 7, 9, 10]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)

[1, 2, 3, 5, 7, 8, 9, 10, 12]

18. Implement a code to find the intersection of two given lists

In [ ]:
def find_intersection(list1, list2):
    """Finds the intersection of two lists."""
    return list(set(list1) & set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]
intersection = find_intersection(list1, list2)
print(intersection)

[3, 5]

19. Create a code to find the union of two lists without duplicates

In [ ]:
def find_union(list1, list2):

    return list(set(list1) | set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]
union = find_union(list1, list2)
union

[1, 2, 3, 4, 5, 6, 7, 8]

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random

def shuffle_list(data):
    n = len(data)
    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)
        data[i], data[j] = data[j], data[i]
    return data

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
shuffled_list = shuffle_list(my_list)
shuffled_list

[10, 3, 5, 9, 6, 1, 2, 7, 4, 8]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
def common_elements_tuples(tuple1, tuple2):
    tuple1 = [1, 3, 5, 7]
    tuple2 = [2, 4, 9, 8]
    common_elements = tuple([element for element in tuple1 if element in tuple2])
    return common_elements

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    """Concatenates two tuples and returns a new tuple."""
    return tuple1 + tuple2

24.  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.

In [ ]:
def set_difference():
    try:
        set1_str = input("Enter the first set of strings separated by commas: ")
        set2_str = input("Enter the second set of strings separated by commas: ")
        set1 = set(s.strip() for s in set1_str.split(','))
        set2 = set(s.strip() for s in set2_str.split(','))

        difference = set1 - set2

        print("Elements in the first set but not in the second set:")
        for element in difference:
            print(element)

    except ValueError:
        print("Invalid input. Please enter comma-separated strings for both sets.")

set_difference()

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
def sub_tuple(input_tuple, start_index, end_index):

    if not isinstance(input_tuple, tuple):
        raise TypeError("Input must be a tuple.")

    if not isinstance(start_index, int) or not isinstance(end_index, int):
        raise TypeError("Start and end indices must be integers.")

    if start_index < 0 or end_index >= len(input_tuple) or start_index > end_index:
        raise ValueError("Invalid start or end indices.")

    return input_tuple[start_index:end_index+1]

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets&

In [ ]:
def set_union():
    try:
        set1_str = input("Enter the first set of characters separated by commas: ")
        set2_str = input("Enter the second set of characters separated by commas: ")
        set1 = set(s.strip() for s in set1_str.split(','))
        set2 = set(s.strip() for s in set2_str.split(','))

        union_set = set1 | set2

        print("Union of the two sets:")
        print(union_set)

    except ValueError:
        print("Invalid input. Please enter comma-separated characters for both sets.")

set_union()

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
def find_min_max(input_tuple):
    if not input_tuple:
        return "Tuple is empty"

    if not all(isinstance(item, int) for item in input_tuple):
        return "Tuple must contain only integers"

    min_val = input_tuple[0]
    max_val = input_tuple[0]

    for num in input_tuple:
        if num < min_val:
            min_val = num
        if num > max_val:
            max_val = num

    return min_val, max_val

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of two sets
union_set = set1 | set2
print("Union:", union_set)

# Intersection of two sets
intersection_set = set1 & set2
print("Intersection:", intersection_set)

# Difference of two sets (elements in set1 but not in set2)
difference_set = set1 - set2
print("Difference (set1 - set2):", difference_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple&

In [ ]:
def count_occurrences(input_tuple, element):
    """Counts the occurrences of an element in a tuple."""
    return input_tuple.count(element)

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
def symmetric_difference_sets():
    try:
        set1_str = input("Enter the first set of strings separated by commas: ")
        set2_str = input("Enter the second set of strings separated by commas: ")
        set1 = set(s.strip() for s in set1_str.split(','))
        set2 = set(s.strip() for s in set2_str.split(','))

        symmetric_diff = set1 ^ set2

        print("Symmetric difference of the two sets:")
        print(symmetric_diff)

    except ValueError:
        print("Invalid input. Please enter comma-separated strings for both sets.")

symmetric_difference_sets()

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
def word_frequencies(word_list):
    word_counts = {}
    for word in word_list:
        word = word.lower()
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1
    return word_counts

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [ ]:
def merge_dictionaries(dict1, dict2):
    dict1 = {'a': 1, 'b': 2, 'c': 3}
    dict2 = {'b': 4, 'c': 5, 'd': 6}
    merged = dict1.copy()
    for key, value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value
    return merged

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [ ]:
def access_nested_value(data, keys):
    current_level = data
    for key in keys:
        if isinstance(current_level, dict) and key in current_level:
            current_level = current_level[key]
        else:
            return None
    return current_level

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [ ]:
def sort_dictionary_by_values(input_dict, ascending=True):

    sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending)
    return dict(sorted_items)
my_dict = {'apple': 20, 'banana': 25, 'cherry': 70, 'date': 120}

ascending_sorted_dict = sort_dictionary_by_values(my_dict)
print("Ascending order:", ascending_sorted_dict)

descending_sorted_dict = sort_dictionary_by_values(my_dict, ascending=False)
print("Descending order:", descending_sorted_dict)

Ascending order: {'apple': 20, 'banana': 25, 'cherry': 70, 'date': 120}
Descending order: {'date': 120, 'cherry': 70, 'banana': 25, 'apple': 20}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [ ]:
def invert_dictionary(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        if value not in inverted_dict:
            inverted_dict[value] = [key]
        else:
            inverted_dict[value].append(key)
    return inverted_dict